* {
    color: black;
}

.card-custom-palette-1 {
    background-color: #cbe4f9;
}

.card-custom-palette-2 {
    background-color: #cdf5f6;
}

.card-custom-palette-3 {
    background-color: #eff9da;
}

.card-custom-palette-4 {
    background-color: #f9ebdf;
}

.card-custom-palette-5 {
    background-color: #f9d8d6;
}
